@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* all applied css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(252, 252, 252);
}


/* main container */
.container {
    width: 1250px;
    margin: 0 auto;
}

/* header area */
.header-banner {
    background-color: #000000eb;
    border-radius: 20px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 80px;
}

.header-info {
    width: 45%;
    color: white;
    margin-left: 3%;
    margin-right: 2%;
    padding: 50px 30px;
}

.header-info h2 {
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.header-info>p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.header-info>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .5s;
}


.header-info>a:hover {
    color: red;
    background-color: white;
    border: 3px solid red;
}



.header-img {
    width: 45%;
    margin-left: 2%;
    margin-right: 3%;
}

.header-img img {
    width: 100%;
    margin-top: 89px;
}

/* header area end */

/* match news area start */

.match-new-area {
    display: flex;
    margin-bottom: 80px;
}

.link-area {
    background-color: black;
    border-radius: 10px;
    width: 600px;
    height: 270px;
    margin-right: 20px;
    margin-top: 10px;
}


.link-area .links {
    display: block;
    color: black;
    padding: 15px 20px;
    background: white;
    border-radius: 10px;
    margin: 25px 25px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
}

#blog {
    background: red;
    color: white;
}

.match-newses {
    /* width: calc(1200px - 320px); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.match-news {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px 10px;
}

.match-details {
    padding: 20px 10px;
}

.match-details a {
    text-decoration: none;
    padding: 5px 10px;
    color: rgb(53, 51, 51);
    border: 1px solid rgb(53, 51, 51);
    border-radius: 5px;
}

.match-details h2 {
    font-size: 18px;
    color: #272525;
    text-transform: capitalize;
    font-weight: 600;
    margin: 20px 0;
}

.icon-detail {
    display: flex;
}

.icon-detail .hour {
    color: #454242;
    margin-right: 30px;
    letter-spacing: normal;
}

.icon-detail .comment {
    color: #454242;
    margin-right: 30px;
    letter-spacing: normal;
}

/* view all btn  */

.view-all-btn {
    text-align: center;
    display: none;
}

.view-all-btn a {
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px 25px;
    color: white;
    background: #FF0000;
    border-radius: 5px;
}


/* schedule area design  */
.flag-area {
    display: flex;
    padding: 15px 15px;
    margin-top: 15px;
}

.flag-area p {
    padding: 0 10px;
}

.match-description {
    margin-bottom: 30px;
    text-align: center;
}










/* footer area design */
footer {
    background: black;
    height: 400px;
}

.footer-content {
    color: white;
    text-align: center;
    margin-top: 100px;
}

.footer-content h2 {
    padding-top: 100px;
    font-size: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.footer-link {
    display: flex;
    margin: 0 150px;
}


.footer-link li a {
    text-decoration: none;
    color: #ddd;
    font-size: 17px;
    padding: 10px 20px;
}

/* social icon  */
.social-icon {
    text-align: center;
    margin-top: 50px;
}

.social-icon a {
    padding: 10px 10px;
    text-decoration: none;
    background: white;
    border-radius: 50px;
}

.fb-color {
    color: #15A2FA;

}

.fb-color:hover {
    background: #15A2FA;
    color: white;
}

.yt-color {
    color: red;
}

.yt-color:hover {
    background: red;
    color: white;
    transition: .5s;
}

.tw-color {
    color: #15A2FA;
}

.tw-color:hover {
    background: #15A2FA;
    color: white;
    transition: .5s;
}

.ins-color {
    color: #B83080;
}

.ins-color:hover {
    background: #B83080;
    color: white;
    transition: .5s;
}








/* media query  */

/* medium device */



@media only screen and (min-width: 768px) and (max-width: 992px) {

    .container {
        max-width: 80%;
        margin: 0 auto;
    }

    .header-info h2 {
        font-size: 40px;
    }

    .match-new-area {
        display: block;
        margin-bottom: 80px;
    }

    .link-area {
        background: none;
        border-radius: 10px;
        margin-right: 20px;
        margin-top: 10px;
        display: flex;
        height: auto;
        width: auto;
    }

    .link-area .links {
        padding: 15px 68px;
        background: white;
        border-radius: 5px;
        margin: 25px 25px;
        font-size: 10px;
        border: 1px solid #ddd;
    }

    .view-all-btn {
        display: block;
    }

    .flag-area {
        align-items: center;
        padding: 0px 65px;
    }

    .match-newses {
        grid-template-columns: repeat(2, 1fr);
    }

    .match-img img {
        width: 100%;
    }

    .footer-link {
        margin: 0 0px;
    }

    .footer-link li a {
        font-size: 15px;
        padding: 10px 5px;
    }
}


/* small device */

@media only screen and (min-width: 576px) and (max-width: 767px) {



    .container {
        width: 80%;
        margin: 0 auto;
    }

    .header-banner {
        display: block;
    }

    .header-info {
        margin: 10px auto;
    }

    .header-info h2 {
        font-size: 25px;
    }

    .header-img {
        width: 100%;
    }

    .header-img img {
        margin-top: 0;
    }

    .match-new-area {
        display: block;
        margin-bottom: 80px;
    }

    .link-area {
        background: none;
        border-radius: 10px;
        margin-right: 20px;
        margin-top: 10px;
        height: auto;
        width: auto;
    }

    .flag-area {
        align-items: center;
        flex-direction: column;
    }

    footer {
        height: 600px;
        text-align: center;
    }

    .link-area .links {
        padding: 15px 68px;
        background: white;
        border-radius: 5px;
        margin: 25px 25px;
        font-size: 10px;
        border: 1px solid #ddd;
    }

    .match-newses {
        grid-template-columns: repeat(1, 1fr);
    }

    .match-img img {
        width: 100%;
    }

    .footer-link {
        display: block;
    }

    .footer-link li {
        padding: 10px 0px;
    }

    .footer-link li a {
        font-size: 15px;
        padding: 5px 3px;
    }
}